<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 footerblock ">
        <h1> Phabit</h1>
        <p>Phabit is a project that can help you to build your habit easier and faster. Acrroing your personality give you different methon to physicalise your habit.</p>
        <p><i class="fa fa-map-pin"></i> Royal College of Art : Kensington Gore, Kensington, London SW7 2EU
</p>
        <p><i class="fa fa-envelope"></i> E-mail : Jen-Hsien.chiu@network.rca.ac.uk</p>

        <p> Source :  this quiz's contents created by Gretchen Rubin, author of the book : better than before</p>

      </div>

      <div class="col-sm-3 col-sm-offset-5 footerblock footerblock-right">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore bloclquote-color">
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/leo.ricky">Facebook</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<!-- <div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2016 - All Rights with Webenlance</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">webenlance.com</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div> -->
